{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div ng-app="gvldash.home" ng-controller="gvlAdminPageActionsController">
    <h1>
        Administration
    </h1>
    <hr>
    <h3>
        Packages
    </h3>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Description</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="package in getPackageList()">
                    <td style="vertical-align:top;">{$ package.display_name $}</td>
                    <td>
                        <div>{$ package.description $}</div>
                        <div>
                            <br>
                            <b>Services in this package:</b>
                            <br>
                            <table>
                                <tbody>
                                    <tr>
                                        <td ng-repeat="service in package.services" style="width: 64px" title="{$ service.description $}">
                                            <span ng-switch on="service.name">
                                            {$ service.service_name $}
                                            <img ng-switch-when="galaxy" src="{% static 'images/logo_galaxy.png' %}">
                                            <img ng-switch-when="cloudman" src="{% static 'images/logo_cloudman.png' %}">
                                            <img ng-switch-when="vnc" src="{% static 'images/logo_lubuntu.png' %}">
                                            <img ng-switch-when="jupyterhub" src="{% static 'images/logo_jupyterhub.svg' %}" style="width: 100%">
                                            <img ng-switch-when="rstudio" src="{% static 'images/logo_rstudio.png' %}">
                                            <img ng-switch-when="public_html" src="{% static 'images/logo_public_html.png' %}">
                                            <img ng-switch-when="ssh" src="{% static 'images/logo_ssh.png' %}">
                                            <img ng-switch-when="lovd" src="{% static 'images/logo_lovd.jpg' %}">
                                            <img ng-switch-when="cpipe" src="{% static 'images/logo_cpipe.png' %}">
                                            <img ng-switch-when="smrt_portal" src="{% static 'images/logo_smrtportal.png' %}">
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="vertical-align:top;">
                        <div ng-switch on="package.status">
                            <p ng-switch-when="installed" class="text-success text-center">
                                <button class="btn btn-success btn-xs"><i class="fa fa-check-circle" title="Running"></i> Installed</button>
                            </p>
                            <p ng-switch-when="not_installed" class="text-warning text-center">
                                <button class="btn btn-primary btn-xs" ng-click="install_package(package)">Install</button>
                            </p>
                            <p ng-switch-when="installing" class="text-warning text-center">
                                <button class="btn btn-info btn-xs"><i class="fa fa-spinner fa-spin" title="Installing"></i> Installing</button>
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h3>
        System
    </h3>
    <hr>
    <div class="table-responsive">
        <button class="btn btn-danger" ng-click="terminate_cluster()"><i class="fa fa-trash-o" title="Terminate"></i> Terminate Cluster</button>
        <button class="btn btn-warning" ng-click="reboot_cluster()"><i class="fa fa-power-off" title="Reboot"></i> Reboot Cluster</button>
    </div>
    <br />
</div>
{% endblock content %}
