{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div ng-controller="gvlHomePageActionsController">
	<h1 ng-cloak>GVL <small>{$ getGVLFlavour() ? getGVLVersion() + " - " + getGVLFlavour() : getGVLVersion() $}</small></h1>
    <p>Welcome to the GVL Dashboard! The GVL Dashboard is a portal through which you can access all services on your
        GVL instance.</p>
    <h1>
        Instance Services <span ng-class="{ 'spinner-fadein': isRefreshInProgress(), 'spinner-fadeout': !isRefreshInProgress() }"><i class="fa fa-refresh fa-spin"></i></span>
        <br />
        <small>for {$ getInstanceName() $}</small>
    </h1>

    <hr />

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th class="text-center">Status</th>
                    <th style="min-width: 230px">Access Link</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="service in getServiceList()">
                    <td ng-switch on="service.service_name" class="text-center">
                    	<a ng-if="service.service_name != 'ssh'" class="btn btn-link" ng-class="{ 'application-disabled': service.service_status!='running', 'application-enabled': service.service_status=='running' }" href="{$ getServiceURL(service.service_name) $}">
	                        <img ng-switch-when="galaxy" src="{% static 'images/logo_galaxy.png' %}"></img>
	                        <img ng-switch-when="cloudman" src="{% static 'images/logo_cloudman.png' %}"></img>
	                        <img ng-switch-when="vnc" src="{% static 'images/logo_lubuntu.png' %}"></img>
	                        <img ng-switch-when="jupyterhub" src="{% static 'images/logo_jupyterhub.svg' %}" style="width: 128px"></img>
	                        <img ng-switch-when="rstudio" src="{% static 'images/logo_rstudio.png' %}"></img>
	                        <img ng-switch-when="public_html" src="{% static 'images/logo_public_html.png' %}"></img>
	                        <img ng-switch-when="ssh" src="{% static 'images/logo_ssh.png' %}"></img>
	                        <img ng-switch-when="lovd" src="{% static 'images/logo_lovd.jpg' %}"></img>
	                        <img ng-switch-when="cpipe" src="{% static 'images/logo_cpipe.png' %}"></img>
	                        <img ng-switch-when="smrt_portal" src="{% static 'images/logo_smrtportal.png' %}"></img>
	                    </a>
	                    <a ng-if="service.service_name == 'ssh'" class="btn btn-link" ng-class="{ 'application-disabled': service.service_status!='running', 'application-enabled': service.service_status=='running' }" href="#">
	                        <img ng-switch-when="ssh" src="{% static 'images/logo_ssh.png' %}"></img>
	                    </a>
                    </td>
                    <td>{$ service.display_name $}</td>
                    <td>{$ service.description $}</td>
                    <td>
                        <div ng-switch on="service.service_status">
                            <p ng-switch-when="running" class="text-success text-center">
                                <i class="fa fa-check-circle" title="Running"></i>
                            </p>
                            <p ng-switch-when="not_installed" class="text-warning text-center">
                                <i class="fa fa-minus" title="Not Installed"></i>
                            </p>
                            <p ng-switch-default class="text-danger text-center">
                                <i class="fa fa-close" title="Error or Unavailable"></i>
                            </p>
                        </div>
                    </td>

                    <td>
                        <a class="link" ng-if="service.service_name != 'ssh' && service.service_name != 'cpipe'" href="{$ getServiceURL(service.service_name) $}" class="btn btn-link" target="_blank" ng-class="{ disabled: service.service_status!='running' }">{$ getServiceURL(service.service_name) $}</a>
                        <span style="margin-left:-12px" ng-if="service.service_name == 'ssh'">&nbsp;&nbsp;&nbsp;<kbd>ssh ubuntu@{$ getServiceURL(service.service_name) $}</kbd></span>
                        <span style="margin-left:-12px" ng-if="service.service_name == 'cpipe'">&nbsp;&nbsp;&nbsp;<kbd>ssh ubuntu@{$ getServiceURL(service.service_name) $}</kbd></span>
                        <br />
                        <strong>Username:</strong><span> {$ service.access_instructions.username $}</span>
                        <br />
                        <strong>Password:</strong><span> {$ service.access_instructions.password_hint $}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <br />
    <h1>Public Services</h1>

    <hr />

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th class="text-center">Status</th>
                    <th>Access Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><a href="https://genomespace.genome.edu.au/jsui/" class="application-enabled"><img src="{% static 'images/logo_genomespace.png' %}"></a></td>
                    <td>GVL GenomeSpace</td>
                    <td>GenomeSpace is like dropbox, for genome data. Use GenomeSpace to store all your genomics
                        data securely and redundantly.</td>
                    <td>
                        <p class="text-success text-center">
                            <i class="fa fa-check-circle" title="Available"></i>
                        </p>
                    </td>
                    <td><a href="https://genomespace.genome.edu.au/jsui/">https://genomespace.genome.edu.au</td>
                </tr>
                <tr>
                    <td class="text-center"><a href="https://ucsc.genome.edu.au/" class="application-enabled"><img src="{% static 'images/logo_ucsc.jpg' %}"></a></td>
                    <td>GVL UCSC Genome Browser</td>
                    <td>The UCSC Genome Browser allows you to visualise genome sequence data from a variety of
                        vertebrate and invertebrate species and major model organisms, integrated with a large
                        collection of aligned annotations.</td>
                    <td>
                        <p class="text-success text-center">
                            <i class="fa fa-check-circle" title="Available"></i>
                        </p>
                    </td>
                    <td><a href="https://ucsc.genome.edu.au/">https://ucsc.genome.edu.au/</td>
                </tr>
                <tr>
                    <td class="text-center"><a href="https://genome.edu.au/wiki/Learn" class="application-enabled"><img src="{% static 'images/logo_gvl_learn.png' %}"></a></td>
                    <td>GVL Tutorials</td>
                    <td>Access GVL tutorials and other learning resources.</td>
                    <td>
                        <p class="text-success text-center">
                            <i class="fa fa-check-circle" title="Available"></i>
                        </p>
                    </td>
                    <td><a href="https://genome.edu.au/wiki/Learn">https://genome.edu.au/wiki/Learn</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
