{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}gvldash{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="HandheldFriendly" content="true">
<meta name="apple-mobile-web-app-capable" content="YES">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% block css %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"
    type="text/css">

<!-- Optional theme -->
<link href="{% static 'css/pushy.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/off-canvas.css' %}" type="text/css">

<!-- Your stuff: Third-party css libraries go here -->

<!-- This file store project specific CSS -->
<link href="{% static 'css/project.css' %}" rel="stylesheet" type="text/css">
{% endblock %} {% block angular %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.js"></script>
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-sanitize.js"></script>
<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
{% endblock %}

</head>

<body ng-app="gvldash.home">

	<div class="pushy pushy-left off-canvas" ng-controller="gvlHomePageActionsController">
        <div class="off-canvas-header">
            <h2 class="off-canvas">GVL {$ getGVLVersion() $}</h2>
            <button type="button" class="close" data-dismiss="modal" onclick="$('.site-overlay').click()">×</button>
        </div>

        <div class="off-canvas-body">
            <ul class="nav">
                <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'admin' %}">{% trans "Admin" %}</a></li>
                <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
            </ul>
        </div>
    </div>

    <!-- Site Overlay -->
	<div class="site-overlay"></div>

    <div id="container" class="wrapper">
        <!-- Need this wrapper for off-canvas menu. Remove if you don't use of-canvas -->

        <!-- MAIN NAVIGATION -->
        <header id="mainnav" class="wrap navbar navbar-default navbar-fixed-top">
            <!-- OFF-CANVAS -->
		    <button type="button" class="navbar-toggle menu-btn" data-target=".navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>

            <div class="container">
                <div class="navbar-header">
					<a class="navbar-brand menu-btn"><i class="fa fa-bars"></i></a>
                    <a class="navbar-brand" href="/"><img src="{% static 'images/logo_gvl.png' %}"
                        style="width: 28px" alt="Home"> {% trans "GVL Dashboard" %}</a>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'admin' %}">{% trans "Admin" %}</a></li>
                        <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
                    </ul>
                </div>

            </div>
        </header>

        <div class="container">
            <br />
            <br />
            <br />
            <br /> {% if messages %} {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %} {% endif %} {% block content %}
            <p>No content specified. Override the content block.</p>
            {% endblock content %}

        </div>
        <!-- /container -->

        {% block modal %}{% endblock modal %}

        <!-- Le javascript
    	================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% block javascript %}
        <!-- Latest JQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <!-- Your stuff: Third-party javascript libraries go here -->
        <script src="{% static 'js/jquery.tap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/pushy.min.js' %}" type="text/javascript"></script>


        <!-- place project specific Javascript in this file -->
        <script src="{% static 'js/project.js' %}"></script>

        <script type="text/javascript">
		  // inject some constants from django
		  angular.module('gvldash.home').constant("PageConstants", {
		    csrfToken: '{{ csrf_token }}'
		  });
		</script>

        {% endblock javascript %}

		<!-- Pushes footer down -->
        <div class="push"></div>
    </div>
	<!-- end container-fluid wrapper -->
    {% include "footer.html" %}
</body>
</html>
