/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 11, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 17, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 23, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 29, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.table > tbody > tr > td {
    vertical-align: middle;
	overflow: hidden;
}


.spinner-fadein {
  opacity: 1;
}

.spinner-fadeout {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in; //for chrome, safari
  moz-transition: opacity 1s ease-in; //for mozilla firefox
  -o-transition: opacity 1s ease-in; //for opera
}


@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

a.application-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

a.application-disabled:hover {
	/* -webkit-animation: shake 1s 1 alternate;
	animation-name: shake; */
}

a.application-enabled {
}

a.application-enabled:hover
{
    animation: bounce 0.5s 4 alternate;
    -webkit-animation: bounce 0.5s 4 alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-10px);
  }
}


/* FOOTER */

.footer {
	background: AliceBlue;
	height: 130px;
	position: relative;
	width: 100%;
	border-top: 1px solid #DDDDDD;
}
.footer img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  max-width: 200px;
  max-height: 100px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Disable grayscale on hover */
.footer img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  max-width: 200px;
  max-height: 100px;
}

.frame {
    height: 130px; /* equals frame height */
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer p {
	margin: 0;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 10px;
	padding: 5px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 5px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}

/* Sticky Footer - http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -130px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 130px; /* '.push' must be the same height as 'footer' */
}

/* Social Media Buttons - http://bootsnipp.com/snippets/featured/social-icon-strip-footer */

.social-icons:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
}
.social-icons {
	-webkit-transform:scale(0.8);
	/* Browser Variations: */
	-moz-transform:scale(0.8);
	-o-transform:scale(0.8);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}

.social-fb:hover {
	color: #3B5998;
}
.social-tw:hover {
	color: #4099FF;
}
.social-gp:hover {
	color: #d34836;
}
.social-em:hover {
	color: #f39c12;
}